---
import type { SolarPanel } from "@synoem/payload/payload-types";
import { getPayloadClient } from "@synoem/payload/client";
import { getDrawing } from "~/utils/get-drawing";
import { Card, CardContent, CardFooter } from "~/components/starwind/card";
import { getImage } from "~/utils/get-image";
import Table from "~/components/astro/table";
import { ImageViewer } from "~/components/react";

interface Props {
  dimensions: SolarPanel["dimensions"]; // TODO: extend to support other products
  drawing?: SolarPanel["drawing"];
  variant: "desktop" | "mobile";
}

const {
  dimensions: dimensionsData,
  drawing: drawingData,
  variant,
}: Props = Astro.props;

const hasDimensions =
  dimensionsData && Object.values(dimensionsData).length === 4;

const payload = await getPayloadClient();

const drawing = await getDrawing({
  drawing: drawingData,
  payload,
});

const hasDrawing = drawing && drawing.file;

const drawingImage = hasDrawing
  ? await getImage({
      image: drawing?.file,
      payload,
    })
  : null;
---

<div class="space-y-4">
  {
    hasDimensions && (
      <div class="overflow-x-auto">
        <h3 class="text-lg font-medium mb-4">
          Dimensions ({dimensionsData.unit})
        </h3>
        <Table.Root>
          <Table.Header />
          <Table.Body>
            <Table.Row>
              <Table.Cell>Hight</Table.Cell>
              <Table.Cell>{dimensionsData.h}</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Cell>Width</Table.Cell>
              <Table.Cell>{dimensionsData.w}</Table.Cell>
            </Table.Row>
            <Table.Row>
              <Table.Cell>Depth</Table.Cell>
              <Table.Cell>{dimensionsData.d}</Table.Cell>
            </Table.Row>
          </Table.Body>
        </Table.Root>
      </div>
    )
  }
  {
    hasDrawing && drawingImage?.url && (
      <Card>
        <CardContent class="p-4">
          <ImageViewer
            client:visible
            imageUrl={drawingImage?.url}
            thumbnailUrl={drawingImage?.url}
            alt="Structure Drawing"
          />
        </CardContent>
        <CardFooter class="grid place-items-center w-full text-sm">
          {drawing.title}
        </CardFooter>
      </Card>
    )
  }
</div>
